/*PROPIEDADES DEL NAVEGADOR SECUNDARIO*/ 

    .boton {
    border: 5px solid #0e8b85; 
    padding: 10px; 
    background-color: #00ffff; 
    color: #ff0000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 50px; 
    width:30%;
    text-align: center;
    font-weight: bolder;
    }

    .boton:hover{
                    background-color: blue;
                    color: rgb(255, 255, 255);
                }

    div {
        display: inline-block;
        color: rgb(0, 255, 26);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgb(164, 7, 249);
    }

    .titulo{
    color: rgb(255, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    
    text-align: center;
    
    }
    section{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(171, 254, 255);
    
    }

    #fecha {
        font-family: Arial, Helvetica, sans-serif;
        color:black;
    
    }

    


/*BODY*/

    header{ background-color: rgb(171, 254, 255) ;
            
    }


    body{ background-image: url(../Img/encina\ barrio.jpg), url( https://www.valledezamanzas.es/sites/valledezamanzas/files/_mg_4142.jpg );
        background-repeat: no-repeat;
        background-size: 50%;
        background-attachment:fixed;
        background-position: center center;
        animation: animatedBackground 40s linear infinite;        
    }  

    #bajo {
        background-image: linear-gradient(red, yellow,red);
    height: 0.5cm;
    margin-left: -2cm;
    margin-right: -2cm;
    
    }
    


